body {
  max-width: 600px;
  margin: 1em auto;
}
article {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25em;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
}
.archive-item-date {
  display: inline-block;
  min-width: 75px;
}
